# Task 1: Create an account and getting familiar with MongoDB

## 1.1 - Setup an MongoDB ATLAS account
Follow the instructions from here: https://docs.google.com/document/d/1Puyz0RLfEqiCRl-ZaKdtKloEqVsN8GKdMuraKn1ZdoI/edit?usp=sharing 


## 1.2 - MongoDB concepts compared to Relational DB concepts
In MongoDB, a **database** is the container for collections. A single **collection**  is the container for documents. **Documents** are usually key/value pairs but it can include arrays and subdocuments. It can support different data types. More information here: https://docs.mongodb.com/manual/reference/bson-types/. 

| Relational DB  | MongoDB  |
|---|---|
|  Database | Database  |  
| Tables  |  Collections |
| Rows  | Documents  |
| Index  |  Index |
 	


## 1.3 Document structure
You can find more information about MongoDB document structure https://docs.mongodb.com/manual/core/document/. If you are not familiar with JSON and BSON specifications, you might wish to read about them here:
- JSON: https://www.json.org/json-en.html
- BSON: http://bsonspec.org

# Task 2: Query a dataset

We need `pymongo`, `dnspython` and `python==3.6`

In [1]:
# install missing library
!pip install pymongo
!pip install dnspython

Requirement already satisfied: pymongo in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (3.12.1)
Requirement already satisfied: dnspython in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (2.1.0)

If you use Google's collab, you now have to select `Runtime -> Restart runtime` or `Ctrl+M`.

In [2]:
#@title Imports
import pymongo
from random import randint
import passwords

## 2.1 - Establish a connection to MongoDB

- **_[TO DO]_** : Connect to MongoDB using the MongoClient class from PyMongo library.

In [3]:
db_password = passwords.pword
client = pymongo.MongoClient("mongodb+srv://lorenzobonito:{}@cluster0.gp4pc.mongodb.net/students?retryWrites=true&w=majority".format(db_password))
db_test = client.admin

Let's check whether everything works properly by retrieving the server status and printing the results, as follows:

In [4]:
serverStatusResult = db_test.command("serverStatus")
print(serverStatusResult)

{'host': 'cluster0-shard-00-01.gp4pc.mongodb.net:27017', 'version': '4.4.10', 'process': 'mongod', 'pid': 317589, 'uptime': 760312.0, 'uptimeMillis': 760312391, 'uptimeEstimate': 760312, 'localTime': datetime.datetime(2021, 10, 28, 9, 5, 17, 965000), 'asserts': {'regular': 0, 'warning': 0, 'msg': 0, 'user': 0, 'rollovers': 0}, 'connections': {'current': 11, 'available': 489, 'totalCreated': 76}, 'extra_info': {'note': 'fields vary by platform', 'page_faults': 0}, 'network': {'bytesIn': 319562759, 'bytesOut': 52179149, 'numRequests': 2349}, 'opcounters': {'insert': 424173, 'query': 65, 'update': 6, 'delete': 3, 'getmore': 9, 'command': 1823}, 'opcountersRepl': {'insert': 0, 'query': 0, 'update': 0, 'delete': 0, 'getmore': 0, 'command': 0}, 'repl': {'topologyVersion': {'processId': ObjectId('616ecdd5ab301e5068d65b2f'), 'counter': 6}, 'hosts': ['cluster0-shard-00-00.gp4pc.mongodb.net:27017', 'cluster0-shard-00-01.gp4pc.mongodb.net:27017', 'cluster0-shard-00-02.gp4pc.mongodb.net:27017'], 'setName': 'atlas-ydwe9n-shard-0', 'setVersion': 6, 'ismaster': True, 'secondary': False, 'primary': 'cluster0-shard-00-01.gp4pc.mongodb.net:27017', 'tags': {'workloadType': 'OPERATIONAL', 'region': 'EU_WEST_1', 'provider': 'AWS', 'nodeType': 'ELECTABLE'}, 'me': 'cluster0-shard-00-01.gp4pc.mongodb.net:27017', 'electionId': ObjectId('7fffffff0000000000000044'), 'lastWrite': {'opTime': {'ts': Timestamp(1635411917, 7), 't': 68}, 'lastWriteDate': datetime.datetime(2021, 10, 28, 9, 5, 17), 'majorityOpTime': {'ts': Timestamp(1635411917, 7), 't': 68}, 'majorityWriteDate': datetime.datetime(2021, 10, 28, 9, 5, 17)}, 'rbid': 1}, 'storageEngine': {'name': 'wiredTiger', 'supportsCommittedReads': True, 'oldestRequiredTimestampForCrashRecovery': Timestamp(1635411876, 2), 'supportsPendingDrops': True, 'dropPendingIdents': 0, 'supportsTwoPhaseIndexBuild': True, 'supportsSnapshotReadConcern': True, 'readOnly': False, 'persistent': True, 'backupCursorOpen': False}, 'mem': {'bits': 64, 'resident': 0, 'virtual': 0, 'supported': True, 'mapped': 0, 'mappedWithJournal': 0}, 'metrics': {'aggStageCounters': {'search': 0, 'searchBeta': 0}, 'atlas': {'connectionPool': {'totalCreated': 8224}}}, 'ok': 1.0, '$clusterTime': {'clusterTime': Timestamp(1635411917, 7), 'signature': {'hash': b'\x82\xbc\xb7\xee1Yb_\x17^\xa9\xda\xe3\xfe\xe2\x86\xc5\xbe8\x1c', 'keyId': 6968822331703558145}}, 'operationTime': Timestamp(1635411917, 7), 'opLatencies': {'reads': {'latency': 1595507, 'ops': 130}, 'writes': {'latency': 366395083, 'ops': 451}, 'commands': {'latency': 4315218499, 'ops': 1765}}, 'atlasVersion': {'version': '20211005.0.0.1633092820', 'gitVersion': '65acfa15a9334a2fef071a106ccab4f5c565bca3'}}


## 2.2 - Create sample data

Let's create our synthetic dataset with students, their mark (scaled from 1-10) and the reviewer on DAPS 2020.

In [5]:
names = ['Anna','Maria','George', 'Mike', 'Alex','Paul','Nick', 'Andrew','Ellie', 'Natalia']
surname = ['Adams', 'Baker', 'Palmer', 'Peterson', 'Roberts', 'Turner', 'Armstrong']
reviewer = ['Laura','Miguel']
student = []
for i in range(1, 30):
    student.append({
        'name' : names[randint(0, (len(names)-1))] + ' '  + surname[randint(0, (len(surname)-1))],
        'DAPS_assignment' : randint(1, 10),
        'reviewer':  reviewer[randint(0, (len(reviewer)-1))] })
print(student)

[{'name': 'Alex Palmer', 'DAPS_assignment': 1, 'reviewer': 'Miguel'}, {'name': 'Natalia Peterson', 'DAPS_assignment': 3, 'reviewer': 'Laura'}, {'name': 'Maria Roberts', 'DAPS_assignment': 10, 'reviewer': 'Miguel'}, {'name': 'Mike Armstrong', 'DAPS_assignment': 9, 'reviewer': 'Miguel'}, {'name': 'Nick Armstrong', 'DAPS_assignment': 2, 'reviewer': 'Laura'}, {'name': 'Andrew Adams', 'DAPS_assignment': 2, 'reviewer': 'Miguel'}, {'name': 'George Armstrong', 'DAPS_assignment': 4, 'reviewer': 'Miguel'}, {'name': 'Natalia Turner', 'DAPS_assignment': 4, 'reviewer': 'Miguel'}, {'name': 'George Armstrong', 'DAPS_assignment': 7, 'reviewer': 'Miguel'}, {'name': 'Mike Peterson', 'DAPS_assignment': 1, 'reviewer': 'Miguel'}, {'name': 'George Peterson', 'DAPS_assignment': 3, 'reviewer': 'Laura'}, {'name': 'Andrew Armstrong', 'DAPS_assignment': 6, 'reviewer': 'Miguel'}, {'name': 'Alex Adams', 'DAPS_assignment': 7, 'reviewer': 'Miguel'}, {'name': 'Nick Roberts', 'DAPS_assignment': 1, 'reviewer': 'Miguel'}, {'name': 'Alex Turner', 'DAPS_assignment': 10, 'reviewer': 'Miguel'}, {'name': 'Mike Roberts', 'DAPS_assignment': 5, 'reviewer': 'Laura'}, {'name': 'Maria Turner', 'DAPS_assignment': 10, 'reviewer': 'Miguel'}, {'name': 'Anna Turner', 'DAPS_assignment': 7, 'reviewer': 'Miguel'}, {'name': 'Natalia Peterson', 'DAPS_assignment': 5, 'reviewer': 'Laura'}, {'name': 'Natalia Peterson', 'DAPS_assignment': 2, 'reviewer': 'Miguel'}, {'name': 'Natalia Adams', 'DAPS_assignment': 3, 'reviewer': 'Miguel'}, {'name': 'Andrew Armstrong', 'DAPS_assignment': 8, 'reviewer': 'Laura'}, {'name': 'Andrew Turner', 'DAPS_assignment': 5, 'reviewer': 'Laura'}, {'name': 'Paul Peterson', 'DAPS_assignment': 2, 'reviewer': 'Miguel'}, {'name': 'Natalia Baker', 'DAPS_assignment': 10, 'reviewer': 'Laura'}, {'name': 'Maria Turner', 'DAPS_assignment': 1, 'reviewer': 'Laura'}, {'name': 'Maria Palmer', 'DAPS_assignment': 1, 'reviewer': 'Miguel'}, {'name': 'Nick Armstrong', 'DAPS_assignment': 5, 'reviewer': 'Laura'}, {'name': 'Andrew Baker', 'DAPS_assignment': 10, 'reviewer': 'Miguel'}]



**_[TO DO]_**: Upload this database using `insert_one` or `insert_many` command.

In [6]:
# Create a database object called “students”
db = client.students

In [7]:
# Upload database to DBMongo
db.collection.insert_many(student);

## 2.3 - Query a document


**_[TO DO]_** : Find one student with score of 5. You can use the command `find_one`.

In [8]:
# Finding one student with final DAPS_assignment score equal 5

db.collection.find_one({"DAPS_assignment": 5})

{'_id': ObjectId('617a67ce0829b7eebe2c839f'),
 'name': 'Mike Roberts',
 'DAPS_assignment': 5,
 'reviewer': 'Laura'}


**_[TO DO]_** : Query the database to find the total number of students with score 8 and 3? You can use `aggregation` or `find` command.

In [9]:
# Counting the total number of students with final DAPS_assignment score equal to 3 and 8.

# for student in db.collection.find({"DAPS_assignment": 3}):
#     print(student)
# for student in db.collection.find({"DAPS_assignment": 8}):
#     print(student)

student_count = 0
for student in db.collection.find({"$or": [{"DAPS_assignment": 3}, {"DAPS_assignment": 8}]}).sort("DAPS_assignment"):
    print(student)
    student_count += 1

print(student_count)

{'_id': ObjectId('617a67ce0829b7eebe2c8391'), 'name': 'Natalia Peterson', 'DAPS_assignment': 3, 'reviewer': 'Laura'}
{'_id': ObjectId('617a67ce0829b7eebe2c839a'), 'name': 'George Peterson', 'DAPS_assignment': 3, 'reviewer': 'Laura'}
{'_id': ObjectId('617a67ce0829b7eebe2c83a4'), 'name': 'Natalia Adams', 'DAPS_assignment': 3, 'reviewer': 'Miguel'}
{'_id': ObjectId('617a67ce0829b7eebe2c83a5'), 'name': 'Andrew Armstrong', 'DAPS_assignment': 8, 'reviewer': 'Laura'}
4

In [10]:
# The above could also be more easily achieved this way:
number_of_students = db.collection.count_documents({"DAPS_assignment": 3}) + db.collection.count_documents({"DAPS_assignment": 8})
number_of_students

4

 Dr. Laura Toni is happy today and she is going to pass all students with final score 4.
 
**_[TO DO]_** : Change the score on all the students with final mark 4 to 5. You can use one of the following commands: `update_one`, `update_many` and `replace_one`.

In [11]:
# Check what the initial situation is
for student in db.collection.find({"$or": [{"DAPS_assignment": 4}, {"DAPS_assignment": 5}]}).sort("name"):
    print(student)

# Change marks of 4 to marks of 5
print("\nChanging marks...\n")
db.collection.update_many({"DAPS_assignment": 4}, {"$set": {"DAPS_assignment": 5}})

# Check if the change worked
for student in db.collection.find({"$or": [{"DAPS_assignment": 4}, {"DAPS_assignment": 5}]}).sort("name"):
    print(student)

{'_id': ObjectId('617a67ce0829b7eebe2c83a6'), 'name': 'Andrew Turner', 'DAPS_assignment': 5, 'reviewer': 'Laura'}
{'_id': ObjectId('617a67ce0829b7eebe2c8396'), 'name': 'George Armstrong', 'DAPS_assignment': 4, 'reviewer': 'Miguel'}
{'_id': ObjectId('617a67ce0829b7eebe2c839f'), 'name': 'Mike Roberts', 'DAPS_assignment': 5, 'reviewer': 'Laura'}
{'_id': ObjectId('617a67ce0829b7eebe2c83a2'), 'name': 'Natalia Peterson', 'DAPS_assignment': 5, 'reviewer': 'Laura'}
{'_id': ObjectId('617a67ce0829b7eebe2c8397'), 'name': 'Natalia Turner', 'DAPS_assignment': 4, 'reviewer': 'Miguel'}
{'_id': ObjectId('617a67ce0829b7eebe2c83ab'), 'name': 'Nick Armstrong', 'DAPS_assignment': 5, 'reviewer': 'Laura'}

Changing marks...

{'_id': ObjectId('617a67ce0829b7eebe2c83a6'), 'name': 'Andrew Turner', 'DAPS_assignment': 5, 'reviewer': 'Laura'}
{'_id': ObjectId('617a67ce0829b7eebe2c8396'), 'name': 'George Armstrong', 'DAPS_assignment': 5, 'reviewer': 'Miguel'}
{'_id': ObjectId('617a67ce0829b7eebe2c839f'), 'name': 'Mike Roberts', 'DAPS_assignment': 5, 'reviewer': 'Laura'}
{'_id': ObjectId('617a67ce0829b7eebe2c83a2'), 'name': 'Natalia Peterson', 'DAPS_assignment': 5, 'reviewer': 'Laura'}
{'_id': ObjectId('617a67ce0829b7eebe2c8397'), 'name': 'Natalia Turner', 'DAPS_assignment': 5, 'reviewer': 'Miguel'}
{'_id': ObjectId('617a67ce0829b7eebe2c83ab'), 'name': 'Nick Armstrong', 'DAPS_assignment': 5, 'reviewer': 'Laura'}

That was an unfair move!

**_[TO DO]_** : Let's delete all the documents that Dr. Laura Toni marked!

In [12]:
# Check what the initial situation is
print("Initial number of assignments marked by Dr Toni: {}".format(db.collection.count_documents({"reviewer": "Laura"})))

# Deleting all the documents marked by Dr Toni
deletion = db.collection.delete_many({"reviewer": "Laura"})
print("Deleted documents: {}".format(deletion.deleted_count))

# Double check that deletion worked
print("Final number of assignments marked by Dr Toni: {}".format(db.collection.count_documents({"reviewer": "Laura"})))

Initial number of assignments marked by Dr Toni: 10
Deleted documents: 10
Final number of assignments marked by Dr Toni: 0

GOOD JOB! You finished the tasks!


You might be asking yourself now: Why and when a non-elational database is useful? MongoDB allows storing data in documents. This is very useful when you have a lot of many-to-many relationships. Other advantages include:
- it enables the fast development of applications, 
- it supports highly diverse data types, 
- and allows efficient interations with applications at scale.
Read more here: https://www.mongodb.com/compare/mongodb-mysql 


You can learn more about developing MongoDB-based applications here:
- https://university.mongodb.com/courses/M121/about?jmp=M101Pap
- https://university.mongodb.com/courses/M220P/about?jmp=M101Pap
- https://university.mongodb.com/courses/M320/about?jmp=M101Pap